[2015-09-04 16:01] sddamico opened #1 "Ensure all resources and styles have proper and consistent prefix"

[2015-09-04 16:19] sddamico opened #2 "Propper README"

[2015-09-04 16:19] sddamico opened #3 "Demo Android App"

[2015-09-08 21:12] #1 closed, assigned to nobody

[2015-09-08 21:12] #3 closed, assigned to nobody

[2015-09-09 19:54] sddamico opened #4 "Consider a SearchView implementation"
Some users of the library may prefer the ease of the SearchView interface. If there's enough support, it shouldn't be too difficult of a refactor to allow most of the Places Autocomplete components to provide data to a SearchView.

[2015-09-09 19:54] sddamico opened #5 "Javadoc public APIs"

[2015-09-14 20:48] #2 closed, assigned to nobody

[2015-11-17 07:36] goutamkundu opened #7 "My google api key for the specific project does not work."
While using the com.seatgeek.placesautocomplete.PlacesAutocompleteTextView got the exception while search for place

Exception name com.seatgeek.placesautocomplete.model.PlacesApiException.
This IP, site or mobile application is not authorized to use this API key. Request received from IP address 122.169.212.109, with empty referer

[2015-11-17 16:32] sddamico commented on #7
Please make sure that you've created an Android Key using the instructions outlined [here](https://developers.google.com/maps/documentation/android-api/signup#create_an_api_project_in_the_console_name). As part of that creation process, You'll need to ensure that you do not whitelist specific IP's for the key; mobile devices have constantly changing IP addresses.

[2015-11-17 16:32] #7 closed

[2015-12-07 18:55] ravigupta9363 opened #9 "Place Options are not coming"

[2015-12-07 19:26] sddamico commented on #9
@ravigupta9363 can you please elaborate a bit more on the issue that you are seeing?

[2015-12-07 21:08] ravigupta9363 commented on #9
I am getting this error when I type something in place auto complete

An exception occured during performFiltering()!
                                                              java.lang.UnsupportedOperationException: Not yet implemented, please have Gson on your classpath
                                                                  at com.seatgeek.placesautocomplete.json.AndroidPlacesApiJ

[2015-12-08 07:23] ravigupta9363 opened #10 "This IP, site or mobile application is not authorized to use this API key. Request received from IP address 150.129.238.71, with empty referer"
Android key not working

[2015-12-08 07:42] ravigupta9363 commented on #10
Must use server key

[2015-12-08 07:42] #10 closed

[2015-12-08 07:43] ravigupta9363 commented on #9
You should contain the GSON library compile in gradle

[2015-12-08 07:43] #9 closed

[2015-12-09 01:08] sddamico commented on #9
@ravigupta9363 You can add gson yourself, or you can wait for the merger of https://github.com/seatgeek/android-PlacesAutocompleteTextView/pull/8.

[2015-12-09 01:09] sddamico commented on #10
@ravigupta9363 that's a great point about needing to use the server key and not the android key, I'll be sure to update the documentation, thank you!

[2015-12-10 13:52] abaxxx opened #11 "Adapter View"
Dude, I love your work man. I was using the AutoCompleteTextView, created custom adapter ext,. and working all these days.

I started using yours and love it, the only problem is my earlier AutoCompleteTextView was showing many suggestions (like 8-10) as soon as i begin typing a place name. But yours shows only 2 ... Kindly help.

[2015-12-14 15:42] sddamico commented on #11
@abaxxx It's going to be hard to have answers for you without a little bit of debugging help, by default the  view will only show historical results until you cross the 3 character threshold. Also remember that the popup window with the results is a scroll view and there could be content below the fold.

Otherwise, please try to proxy the network traffic to the google maps API (traffic through `ma

[2015-12-14 15:58] abaxxx commented on #11
Thanks a lot brother. I'll try with your suggestions and get back to you
with more details.

[2015-12-15 08:17] tuanth89 commented on #11
hi @abaxxx , Can show your custom adapter code for me ?, I want to create a custom adapter but don't know how.
Thanks

[2015-12-15 09:09] tuanth89 commented on #11
Hi @abaxxx , Can show your custom adapter code for me ? I want create custom adapter but don't know how.
Thanks

[2015-12-15 09:11] abaxxx commented on #11
@tuanth89 brother, Im not using a custom adapter, Im using default one.

[2015-12-15 09:23] tuanth89 commented on #11
@abaxxx okay thanks.
@sddamico , Can you create a custom adapter demo for the library. I found custom adapter in your demo app but not used.
Thanks.

[2015-12-15 19:25] sddamico commented on #11
@tuanth89 the demo app does use the custom adapter, one of "features" of the PATV is that you're able to set the adapter from xml: https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/demo-app/src/main/res/layout/activity_places_autocomplete.xml#L19

[2015-12-16 04:06] tuanth89 commented on #11
@sddamico , Thanks
But when I run app, it crash because unable to find valid constructor with params Context, PlacesApi...

Here is my xml
<pre>
<com.seatgeek.placesautocomplete.PlacesAutocompleteTextView
                            android:id="@+id/places_autocomplete"
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"

[2015-12-16 19:40] sddamico commented on #11
@tuanth89 can you please create a separate issue for this? The problem you are experiencing is not related to this thread.

[2015-12-17 02:16] tuanth89 opened #12 "Problem with a custom adapter"
Hi everyone! First, awesome library. I realy like it.
I try create a custom a adapter and passing it to my xml, however i get a error occurs at run activity.
How to fix this bug? Thanks

Here is my xml
<pre>
com.seatgeek.placesautocomplete.PlacesAutocompleteTextView
                            android:id="@+id/places_autocomplete"
                            android:layout_width="match_parent"

[2015-12-17 05:30] sarathnk opened #13 "Location"
How to get latitude and longitude

[2015-12-17 05:51] tuanth89 commented on #11
@sddamico Thank, i created a issue

[2015-12-17 13:53] abaxxx commented on #11
Brother, the app is not crashing, but im getting this exception. If i setHistoryfile(null).

E/MapsPlacesAutoComplete: Unable to load history from history file
E/MapsPlacesAutoComplete: java.io.FileNotFoundException: History file does not exist
E/MapsPlacesAutoComplete:     at com.seatgeek.placesautocomplete.history.DefaultAutocompleteHistoryManager$1.executeInBackground(DefaultAutocompleteHistory

[2015-12-17 15:25] sddamico commented on #12
As documented in the `README`, to use a custom adapter you must extend `AbstractPlacesAutocompleteAdapter` and preserve its constructor.

https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/README.md#xml-properties

[2015-12-17 15:26] sddamico opened #14 "FileNotFound when historyFile set to null"
From https://github.com/seatgeek/android-PlacesAutocompleteTextView/issues/11

[code]

[2015-12-17 15:27] sddamico commented on #11
Hmm, that doesn't seem right. Though, it does mean that it is respecting you request to turn history off...

I've created https://github.com/seatgeek/android-PlacesAutocompleteTextView/issues/14

[2015-12-17 15:33] sddamico commented on #13
@sarathnk It's not really in scope for this project so I won't post a full explanation here, but the Android developer documentation has a great overview of how to use the Google Play Services `FusedLocationProvider` to get the current location: http://developer.android.com/training/location/retrieve-current.html

[2015-12-17 15:33] #13 closed

[2015-12-18 03:00] tuanth89 commented on #12
@sddamico , i use your custom adapter but still not working. i miss something ???
Here is adapter :
<pre>
public class TestPlacesAutocompleteAdapter extends AbstractPlacesAutocompleteAdapter {

    protected TestPlacesAutocompleteAdapter(final Context context, final PlacesApi api, final AutocompleteResultType resultType, final AutocompleteHistoryManager history) {
        super(context, api, resul

[2015-12-18 18:24] sddamico opened #15 "Update to latest "powered by Google""
The new logo with the new typeface is now available, should just be replacing the assets

[2015-12-18 20:52] sddamico commented on #12
Hmm, that looks right.

If you change the 4th parameter to `DefaultAutocompleteHistoryManager` does that resolve it?

[2015-12-21 22:13] MeinLieberScholli commented on #14
The problem is in the DefaultAutocompleteHistoryManager the line 36:
File historyFile = new File(context.getCacheDir(), BASE_AUTOCOMPLETE_HISTORY_DIR + historyFileName);
It won't creat the actual file in the filesystem.
Missing code is:
        if (!historyFile.exists()) {
            historyFile.mkdirs();
            try {
                historyFile.createNewFile();
            } catch (IOExcept

[2015-12-22 04:44] tuanth89 commented on #12
@sddamico sorry for my late reply. I tried but it not woked.
I think if you can, you should create a example full about this. Thank very much :)

[2016-02-19 20:30] re3lex opened #16 "Support language different than english in PlaceDetails"
Hi,

getDetailsFor() method alway returning PlaceDetails in english because language parameter is not set in URL generated by PlacesApi.details() method.
This is an issue for non-english users.

I think best way is take to take system language as a base.

[2016-02-19 21:25] re3lex commented on #16
Hi

I have fixed this issue. Please check my pull request
https://github.com/seatgeek/android-PlacesAutocompleteTextView/pull/17

[2016-04-05 09:53] oZBo opened #18 "Not yet implemented, please have Gson on your classpath"
I really like your lib, great job!

But I have following exception:
`java.lang.UnsupportedOperationException: Not yet implemented, please have Gson on your classpath
                                                                 at com.seatgeek.placesautocomplete.json.AndroidPlacesApiJsonParser.autocompleteFromStream(AndroidPlacesApiJsonParser.java:15)

[2016-04-05 10:09] oZBo commented on #18
my fault, forgot to add gson library to dependencies. Otherwise thanks a lot!

[2016-04-05 10:09] #18 closed

[2016-04-12 22:00] riadhnet commented on #16
No resource identifier found for attribute 'pacv_languageCode' in package 'XXX'
did you added it in the last version ?

[2016-04-13 04:30] re3lex commented on #16
what resource?

[2016-04-13 13:27] riadhnet commented on #16
The version that i get from gradle doesn't have the latest version of code, it doesn't support languages , you didn't updated it with the pull request 17 ,
Can you please update it ?

[2016-04-13 20:08] sddamico commented on #16
@riadhnet looks like our snapshot deploys are failing, sorry about that. I'll take a look when I get a chance.

[2016-04-14 14:54] riadhnet commented on #16
@sddamico thanks, would you do this soon ? i'm using the library in my project , if it would take time i would rather move on for another alternative

[2016-04-14 20:54] sddamico commented on #16
@riadhnet I'll try to get to this tomorrow.

[2016-04-14 20:54] #16 closed

[2016-04-14 21:03] sddamico opened #19 "Fix snapshot auto-deploy"
Seems to have broken when moving the repo.

[2016-04-18 19:48] sddamico commented on #19
@riadhnet snapshot deploy issues are resolved, use `--refresh-dependencies` as a gradle flag to ensure you have the most up-to-date version.

[2016-04-18 19:48] #19 closed

[2016-04-18 20:00] #15 closed

[2016-04-18 20:16] sddamico commented on #12
@tuanth89 not sure if you managed to figure this out on your own, but the issue was that the constructor needed to be made `public`. This is fixed in #21, sorry about that.

[2016-04-18 20:21] #12 closed

[2016-04-18 20:21] #11 closed

[2016-04-18 20:40] #14 closed

[2016-04-18 20:40] sddamico commented on #11
@abaxxx I can't reproduce this, sorry.

[2016-04-18 20:43] sddamico commented on #5
This is mostly done, any outstanding documentation issues should be created individually

[2016-04-18 20:43] #5 closed

[2016-04-18 20:44] sddamico commented on #4
Doesn't seem to be much draw for this, if that changes we can reopen to consider.

[2016-04-18 20:44] #4 closed

[2016-04-19 07:07] prashantadesara opened #23 "Can I get specific City data only?"
Is there any way to define the list of data within autocomplete view having only specific city?

[2016-04-20 07:28] prashantadesara commented on #23
Okay I got the idea where to change in lib project to filtered only specific city data. Thanks.

[2016-04-20 07:28] #23 closed

[2016-04-21 12:28] Matevos opened #24 "How to search on specific country"
I want do search only in Germany i.e how could I set country so the result not be from another country?

[2016-04-22 07:46] sarathnk opened #25 "NoSuchMethodException"
Caused by: java.lang.NoSuchMethodException: <init> [class android.content.Context, class com.seatgeek.placesautocomplete.PlacesApi, class com.seatgeek.placesautocomplete.model.AutocompleteResultType, interface com.seatgeek.placesautocomplete.history.AutocompleteHistoryManager]
                                                                                   at java.lang.Class.getConstructorOrMeth

[2016-04-22 14:53] sddamico commented on #25
@sarathnk are you using proguard in your application?

[2016-04-22 15:07] sddamico commented on #24
@Matevos the places API does not allow you to restrict results to a specific country, however you can pass a lat/lon and a radius for your search results, info [here](https://developers.google.com/places/web-service/autocomplete#location_biasing) and [here](https://github.com/seatgeek/android-PlacesAutocompleteTextView#location-biasing)

If you'd like to change the language of the results, you can

[2016-04-22 15:07] #24 closed

[2016-04-22 15:44] sarathnk commented on #25
No

[2016-04-22 15:46] sddamico commented on #25
@sarathnk Can you please provide the example code for layout/activity where you're seeing this error?

[2016-04-23 05:04] sarathnk commented on #25
I solved issue.I used custom adapter and i changed constructor then solved issue.Thanks @sddamico

[2016-04-23 05:04] #25 closed

[2016-06-27 09:46] lx495707690 opened #26 "Error:(118, 13) Failed to resolve: com.seatgeek:placesautocomplete:0.2-SNAPSHOT"
Error:(118, 13) Failed to resolve: com.seatgeek:placesautocomplete:0.2-SNAPSHOT

[2016-06-27 14:04] sddamico commented on #26
Please be sure that you've added the sonatype snapshots repository to your repositories config in gradle:

[code]

[2016-06-27 14:04] #26 closed

[2016-07-30 08:19] DimaKTheAweome opened #27 "Progueard rules"
Hello, I use your project in my one and when I compile app with proguard I receive this error:
[code]

I tried

-keep class com.seatgeek.** {*;}

But it doesn't help
Can you provide prgoard rules for your project?

[2016-07-31 07:02] Felichejmz opened #28 "Always return the same lat, long"
always return lat=-1 and lng =-1

[2016-08-02 12:59] DimaKTheAweome commented on #27
I found problem. It was a problem with adapter which I set in xml file

[2016-08-02 12:59] #27 closed

[2016-08-02 14:15] sddamico commented on #28
Hey @Felichejmz, thanks for the issue report. Can you provide more details on the methods that you are calling to get the results you're seeing?

[2016-09-15 00:49] HolySamosa commented on #28
I'm seeing the same issue when using getDetailsFor(place).  geometry.location lat & lng are -1.  I've confirmed via a web call with the same place ID that Google is returning an accurate location object.

[2016-09-15 01:53] HolySamosa commented on #28
Looks like this is due to a bug in AndroidPlacesApiJsonParser.readGeometry().  Using the Gson implementation instead works around the issue.

[2016-09-15 23:54] HolySamosa opened #29 "Set text color of suggestions?"
I'm having trouble with styling the popup window.  My application has a dark theme and the color of the suggestion text is nearly white on the nearly white background.  My efforts to change the text color to something legible have thus far been unfruitful.  Assistance would be most appreciated!

[2016-09-16 18:56] sddamico commented on #28
@HolySamosa pr's welcome :)

[2016-09-16 18:57] sddamico commented on #29
@HolySamosa My best advice would be to use a custom adapter for the list. An example of how to do that is in the test app [here](https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/demo-app/src/main/res/layout/activity_places_autocomplete.xml#L20)

[2016-09-16 18:57] #29 closed

[2016-09-29 14:37] sultan-arshi opened #30 "can not get latitude and longitude from the PlacesAutocompleteTextView"
PlacesAutocompleteTextView etFromLocatin;
etFromLocatin = (PlacesAutocompleteTextView) view.findViewById(R.id.etFrom);

etFromLocatin.setOnPlaceSelectedListener(new OnPlaceSelectedListener() {
            @Override
            public void onPlaceSelected(@NonNull com.seatgeek.placesautocomplete.model.Place place) {
            }
        });
can not get latitude and longitude Please fix it

[2016-09-29 15:33] sddamico commented on #30
You can fetch more details (such as geolocation) about a place using the place details API.

Please see `PlacesAutocompleteTextView#getDetailsFor(Place, DetailsCallback)`

[2016-09-29 15:33] #30 closed

[2016-10-03 11:50] erikswed opened #31 "I try to find a way to insert a `Fragment` `Context` into the adapter"
Thanks all for the PlacesAutocompleteTextView it´s really helpful
I try to find a way to insert a `Fragment` `Context` into the adapter but ended up creating the  `setContext(.. `method as you can see down below.
Any ide how to do this in a better way?
in Fragment..
[code]
in AbstractPlacesAutocompleteAdapter
[code]

[code]

[2016-10-03 18:28] sddamico commented on #31
The parent adapter class (`ArrayAdapter`) already has a references to the current context which you can fetch with `getContext()`.

https://developer.android.com/reference/android/widget/ArrayAdapter.html#getContext()

There should be no need for a second reference to the Adapter's context.

[2016-10-03 18:28] #31 closed

[2016-10-04 06:38] erikswed commented on #31
but the `Fragment `does not have a context and the `getContext()` returns `Fragment` parent context right? are you saying I should enter the `getContext().<parent(activity)>.FragmentManager `and search for the above "HomeFragment" reference?

[2016-10-04 16:21] erikswed commented on #31
yea `FragmentManager ` is accessable and This works:
[code]

[2016-10-04 16:29] erikswed opened #32 "Is there a way to force not to show results with Abbreviations"
Using the **PlacesAutocompleteTextView** and search for
"Sydney, Camperdown, New South Wales, Australien"

Thanks for the PlacesAutocompleteTextView it's a grate view
I get result with both the Abbreviations result and without, like this:

**Sydney, Camperdown, NSW, Australien
Sydney, Camperdown, New South Wales, Australien**

It's the same on the web https://www.google.se/maps/

System scenario:

[2016-10-04 17:35] sddamico commented on #31
I guess I'm confused why the adapter needs a reference to the fragment?

[2016-10-04 17:56] erikswed commented on #31
Im extending the `TestPlacesAutocompleteAdapter `with `AddressFilterAdapter` to do work on the returned `PlaceDetails`. This is experimental and I´m still learning doe. Since the `PlaceDetails` that i get from the `public void onPlaceSelected(@Non` will be processed heavily and there is a relation to the `ListView `row I figure I bake everything together like this.

[2016-10-10 18:09] HolySamosa commented on #29
Thanks, this did the trick!

[2016-10-16 05:42] erikswed commented on #32
ok I ended up creating a parser like this if anyone need it. And thanks again for the PlacesAutocompleteTextView very intelligent smoothies
[code]

[2016-10-26 16:36] apMadden opened #33 "Troubling styling to a dark themed dropdown"
Hey I am having trouble styling the dropdown to be a dark theme. This is what I get:

![darktheme](https://cloud.githubusercontent.com/assets/10348547/19735124/3c3cad92-9b78-11e6-8a2d-f9efe873f8fd.jpg)

My custom adapter looks like this:

    public class PlacesAutocompleteAdapter extends AbstractPlacesAutocompleteAdapter {
        public PlacesAutocompleteAdapter(final Context context, final Plac

[2016-10-26 18:00] sddamico commented on #33
PATV does not currently have a dark theme. If you want to change the style of the popup background, you'll want to copy the background drawable file [here](https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/placesautocomplete/src/main/res/drawable/pacv_popup_background_white.xml) and change the colors and switch to using the `pacv_powered_by_google_on_non_white` drawable fo

[2016-10-26 18:00] #33 closed

[2016-10-26 18:09] apMadden commented on #33
Wow thanks for the super super quick response. Solution worked great thank you!

[2016-10-26 18:41] sddamico commented on #33
No problem, glad it worked!

[2016-10-28 21:42] erikswed opened #34 "How to add a ProgressDialog before the public void onPlaceSelected(@No.."
Thanks for the PlacesAutocompleteTextView.
I want to have a ProgressDialog while waiting for the `onPlaceSelected `to fire.
How can I do that?
I try the `.setOnItemSelectedListener() `but that returned UnsupportedOperationException:
In the `setOnItemSelectedListener()`  I could do `showProgressDialog()`

I see the `AutoCompleteTextView  ``setOnItemClickListener()` is not exposed but instead you th

[2016-10-29 12:53] erikswed commented on #34
If anyone need it, custom setOnItemClickListener() :
https://github.com/erikswed/android-PlacesAutocompleteTextView

[2016-10-29 12:53] #34 closed

[2016-12-03 02:23] nian88 commented on #28
how to solve it?

[2017-01-04 15:53] fmanoir opened #35 "How to limit google autocomplete results to City and Country only"
How to limit google autocomplete results to City and Country only

[2017-01-09 18:54] qtmspin opened #36 "search for an address or a business?"
Is it possible to request a list of matching address and businesses?  I've tried all
pacv_resultType combos, and it seems I'm limited to either businesses or addresses.

[2017-01-09 19:41] sddamico commented on #36
@qtmspin from the [api documentation](https://developers.google.com/places/web-service/autocomplete#place_types) it does seem that the places autocomplete api supports multiple  types in an array as a parameter. This feature isn't currently implemented by the library, we accept PR's! Otherwise, it might be a little bit before I get to it.

[2017-01-09 20:19] qtmspin commented on #36
Thanks for the quick response, I noticed that the API mentions "If nothing is specified, all types are returned." is it possible to not specify a type?

[2017-01-09 20:22] sddamico commented on #36
@qtmspin the code currently defaults to address if none are selected... https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/placesautocomplete/src/main/java/com/seatgeek/placesautocomplete/PlacesApi.java#L148

Would probably be a fairly simple change to revert setting the default.

[2017-01-09 20:23] sddamico commented on #36
A better change would be adding a new option to the result types enum for "no type" and allowing users to specify that as a configuration option so that we don't upset the existing default result type

[2017-01-09 20:29] qtmspin commented on #36
I've never submitted code to GH, but I will give it a shot

[2017-01-09 20:31] sddamico commented on #36
Here's a quick overview of our guidelines for contributing that should help you get started! https://github.com/seatgeek/android-PlacesAutocompleteTextView#contributing

[2017-01-10 01:13] qtmspin commented on #36
Here are the change.  I've tried several ways to commit the changes with no
luck

https://github.com/qtmspin/android-PlacesAutocompleteTextView-qtmspin

On Mon, Jan 9, 2017 at 2:31 PM, sddamico <notifications@github.com> wrote:

[2017-01-15 08:20] erikswed opened #38 "a request for dismissbutton"
Wonder if it would be hard to add this functionality to PlacesAutocompleteTextView like:
Creating a clearable AutoCompleteTextView. (adding an ´x´ button to delete text content?

Here´s a tutorial doing this:
https://www.drzon.net/how-to-create-a-clearable-autocomplete-dropdown-with-autocompletetextview/

Some code from tutorial:
[code]

[2017-01-27 21:21] erikswed opened #39 "Proguard rule needed"
I´m building a release build but cannot get past his proguard related error:
[code]

In my proguard-rules.pro file I have the:

-keep class com.seatgeek{ *; }
-keep public class com.toy.android.ui.adapter.PlacesAutocompleteAdapter{ *; }

What am I missing please advice

[2017-01-28 18:04] erikswed commented on #39
I worked it out to this:

-keep class com.seatgeek.**{ *; }
-keep public interface com.seatgeek.placesautocomplete.history.AutocompleteHistoryManager{*;}

Don´t know why I have to explicita keep this interface but it took two days to find the it

[2017-01-29 09:08] #32 closed

[2017-01-30 15:56] sddamico commented on #39
Going to reopen this, I think it'd be a good idea for us to package proguard rules in our AAR

[2017-01-30 16:14] sddamico commented on #38
I think this is a worthy addition. A good implementation would have this be opt-in via a layout property, e.g. `patv_clearEnabled` or something to that effect.

[2017-01-31 18:43] erikswed commented on #39
thanks great

[2017-02-24 11:36] adirgan opened #40 "Add suggestion"
One suggestion I have is that when you begin to write in the EditText appears something indicating that it is loading the search

[2017-02-24 17:43] erikswed opened #41 "InputMethodManager leaks the last focused view"
I see this error using PlacesAutocompleteTextView.
https://gist.github.com/pyricau/4df64341cc978a7de414)
Not sure if this is related to PlacesAutocompleteTextView!?

https://code.google.com/p/android/issues/detail?id=171190

Here´s a screenshot from leakcanary:
![screenshot_2017-02-24-18-37-37](https://cloud.githubusercontent.com/assets/3285249/23314070/9f1b7dc4-fac0-11e6-8171-a42df924cada.png)

[2017-02-24 21:18] sddamico commented on #41
@erikswed without being able to see further up the tree to the gc root, it's impossible for me to say with certainty. I will say that since PlacesAutocompleteTextView is one away from the end, it is more likely that something is holding a reference to it than it holding a reference in a bad way.

[2017-03-04 08:01] erikswed opened #43 "In the OnPlaceSelectedListener I wonder how to get a hold of the Status Codes"
In the `OnPlaceSelectedListener` I wonder how to get a hold of the  [Status Codes](https://developers.google.com/places/web-service/search) I cannot see that it is propagated up to `public void onPlaceSelected(final Place place)`

The "status" field within the search response object contains the status of the request, and may contain debugging information to help you track down why the request fai

[2017-03-06 15:31] sddamico commented on #43
@erikswed your best best for accessing more information from the network response will be to create your own instance of the `PlacesApi` where you can specify your own `PlacesHttpClient` which will allow you direct access to the response documents. The `onPlaceSelected()` and `placeDetails()` methods are more for the 95% common use case.

[2017-03-08 17:47] teekirol opened #44 "Autocomplete crashing in Play Store version of app"
The PlacesAutoCompleteTextView works perfectly fine when I'm running my app in Android Studio deployed to my USB device (using both release and debug build variants), but for some reason, when I deploy a Beta version and download it through the Play store, the app just stops when I start typing in an address.

My API key is using the Google Places API Web Service with no restrictions.

Any idea wh

[2017-03-08 17:49] sddamico commented on #44
Hi @teekirol, is there any way that you can connect your Android device via USB and get the crash stacktrace from ADB?

Alternatively, if you're downloading from Google Play, you should be able to report the crash from your device and see the crash logs in the "Crashes and ANR's" section of the developer console.

[2017-03-08 17:49] erikswed commented on #44
did you ad proguard-rules.pro:

# This rule will keep all seatgeek stuff
-keep class com.seatgeek.**{ *; }
-keep public interface
com.seatgeek.placesautocomplete.history.AutocompleteHistoryManager{*;}

On 8 March 2017 at 18:47, Lori <notifications@github.com> wrote:

[2017-03-09 13:49] teekirol commented on #44
@sddamico Weirdly enough, there are no crash logs anywhere 🤔

@erikswed That seemed to fix the problem -- thank you!

[2017-03-09 13:49] #44 closed

[2017-03-10 16:16] erikswed commented on #41
Thanks not sure what couches this, here´s a picture from Eclipse Memory Analyser and also I include the
hprof file to debug this, if you have time and are good at this witch Im not. My `ActivityMain` when i rotate device 13 times get leakt 13 times

**hprof file created by Android Studio Device monitor and converted using \Android\sdk\platform-tools>hprof-conv to work with Eclipse Memory Analyser*

[2017-03-20 07:19] SebastienGracia opened #45 "Several problem"
The following classes could not be instantiated:
- com.seatgeek.placesautocomplete.PlacesAutocompleteTextView (Open Class, Show Exception, Clear Cache)
 Tip: Use View.isInEditMode() in your custom views to skip code or show sample data when shown in the IDE.  If this is an unexpected error you can also try to build the project, then manually refresh the layout.  Exception Details Write access not

[2017-03-21 14:06] sddamico commented on #45
@SebastienGracia are you seeing this in the editor preview pane?

[2017-03-21 14:25] sddamico commented on #41
Hey @erikswed, I took a look at your heap (sorry for the delay). It looks like you have a class called `ScrollingTextView` that is registering a runnable with the view root but is never removing callbacks. If that's the case you should be sure to check `isAttachedToWindow()` before re-registering for a callback with `post()` and `removeCallbacks()` in `onDetachedFromWindow()`

[2017-03-21 17:24] erikswed commented on #41
my god your right and thanks for your time, it´s not easy being a beginner
at this thanks for your help

On 21 March 2017 at 15:25, sddamico <notifications@github.com> wrote:

[2017-03-21 17:31] sddamico commented on #41
No problem! feel free to reopen if you see an issue again.

For reference, when debugging a leak like this in MAT, be sure to look at the "Path to GC roots" as it will often lead to a chain of references that might have one of your classes in it!

[2017-03-21 17:31] #41 closed

[2017-03-22 16:04] #43 closed

[2017-03-22 16:04] #36 closed

[2017-04-05 22:24] spacewideweb commented on #35
Hi Did you get correct answer for your problem?
I am getting the problem like yours in my project.

[2017-04-06 13:52] sddamico commented on #35
If you read the documentation for the places autocomplete api, there are ways to restrict results to a particular location and radius or, alternatively, to within a country:

https://developers.google.com/places/web-service/autocomplete

The [PlacesApi](https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/placesautocomplete/src/main/java/com/seatgeek/placesautocomplete/Places

[2017-04-17 05:06] lawonga opened #46 "Proguard can't find referrenced class com.squareup.okhttp.OkHttpClient"
Hi, with proguard on and building I'm getting this issue:

[code]

Manually importing Okhttp 2.2.0 results in the app running, but the features of this library not working (the autocomplete does not pop up).

Has anyone had this issue and know how to resolve it?

[2017-05-16 13:25] santoshthorani commented on #28
still getting same lat lng for all places.

[2017-05-16 14:17] HolySamosa commented on #28
@nian88 Sorry this is crazy late, but maybe it will help someone.  You can work around the bug causing the -1, -1 lat / long simply by including GSON as a dependency:

    compile 'com.google.code.gson:gson:2.3.1'

GSON will then be used for parsing rather then the internal JSON processor.

[2017-06-12 16:09] erikswed commented on #39
Would love to see the consumerProguardFiles 'proguard-rules.pro' now. After working ok for month I suddenly got the:

Dunno where to start debunk this error

[2017-06-13 11:16] zeeshanali0156 opened #47 "Information missing"
setCurrentLocation() not give current location until set the radius by calling setRadiusMeters(). There is not mention in the document that user have to first set call the setRadiusMeters(radius) method for getting the current locations places.

[2017-06-23 07:58] majdirabeh opened #48 "Crash APK signée"
Crash when try to enter word in TextView
AndroidRuntime: FATAL EXCEPTION: Filter
                                                   Process: com.visitou.visitouandroid, PID: 20333
                                                   java.lang.AssertionError: java.lang.NoSuchFieldException: ROUTE
                                                       at com.google.a.b.a.n$a.<init>(Unknown Source)

[2017-06-23 14:23] sddamico commented on #48
@majdirabeh This appears to be a misconfiguration of proguard in you application. Have you tried applying rules to ensure that you're keeping this particular enum value?

[2017-07-03 12:51] zeeshansardar61 opened #49 "How to get latitude and logitude from place?"
I seen how you implement detailcallback to get city details but i want the exact latitude of the place we select.
[code]
Is there any way to get it that easily? If not then how? I am currently getting lat, lng via passing it in custom getAddress(String address). But want if any easy way available as I mentioned in my above code.

Thanks in advance

[2017-07-03 13:45] sddamico commented on #49
@zeeshansardar61 you should be able to use the `PlaceDetails` API to fetch the information that you're looking for!

[code]

[2017-07-03 13:45] #49 closed

[2017-07-11 08:35] erikswed opened #50 "dynamically change the pacv_historyFile name"
Lets say there are many users and for each one I want to change the  `pacv_historyFile` .
I see the xml property the, `pacv_historyFile`  but how to change that programmatically?

[2017-07-13 16:50] sddamico commented on #50
@erikswed you should be able to supply your own history manager implementation view this method on the autocompleteview:

https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/placesautocomplete/src/main/java/com/seatgeek/placesautocomplete/PlacesAutocompleteTextView.java#L401

[2017-07-13 16:50] #50 closed

[2017-07-13 16:51] sddamico commented on #50
If you just want to change the path used for each user (probably easiest strategy for this, you can use the default implementation with a different file name:

https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/placesautocomplete/src/main/java/com/seatgeek/placesautocomplete/history/DefaultAutocompleteHistoryManager.java

[2017-07-14 08:52] erikswed commented on #50
very good I looked at this but it was not clear at first:
`mAutocomplete.setHistoryManager(DefaultAutocompleteHistoryManager.fromPath(getActivity(),"file_name"));`

Can this be changed on the fly or do I have to instantiate a new PlacesAutocompleteTextView

[2017-07-14 14:56] sddamico commented on #50
Should be able to change it on the fly! let me know if that's not working

[2017-08-03 14:36] lexrrx opened #53 "Not working for compileSdkVersion 25"
Is there a way to make the library work for sdk 25?

[2017-08-10 15:40] sddamico commented on #53
@lexrrx you can revert to version 0.2 of the library which should be compatible. Otherwise, you'll likely need to fork it and make changes yourself to the support library dependency

[2017-08-10 15:40] #53 closed

[2017-08-15 23:15] vansh1sh opened #54 "Filtering results of a specific country possible?"

[2017-08-21 17:46] sddamico commented on #54
This question has been asked before and an answer was given [here](https://github.com/seatgeek/android-PlacesAutocompleteTextView/issues/35#issuecomment-292180915)

[2017-08-21 17:46] #54 closed

[2017-08-21 17:46] #45 closed

[2017-08-21 17:46] sddamico commented on #45
Haven't heard response from user with issue, please repoen if seen again.

[2017-08-21 17:48] sddamico commented on #46
If you're using proguard, you'll need to keep the okhttp classes that this library uses.

The easiest way to keep them is to do something like:

[code]

[2017-08-21 17:48] #46 closed

[2017-08-21 17:49] sddamico commented on #48
Closing because of no response from user.

[2017-08-21 17:49] #48 closed

[2017-09-05 11:12] Abbasd67 opened #55 "add text before sent for search"
i wanted to add a text (e.g: city name like New York) when user input a text for search.
in short i want to restrict the search area for address but the location and radius method doesn't work for me. so i want to add the name of the city before sending for search address and get the results only for that city. like implement the adapter class for PlaceAutocompleteTextView and Override the textCha

[2017-09-11 22:10] sddamico commented on #55
I think your only other option would be overriding the `autocomplete()` method in `PlacesApi` and calling `setApi()` on the PATV

[2017-09-11 22:10] #55 closed

[2017-09-20 12:04] ankurbhut opened #56 "I am getting problem in add repository in Gradle file"
Faild to resolve : appcompate library : 26.0.0
Faild to resolve : Support.design library : 26.0.0
and also i can't install in project.

[2017-09-20 14:08] sddamico commented on #56
@ankurbhut if you're already including support libraries in your own project, you can exclude the PATV's dependencies in gradle like this:

[code]

[2017-09-20 14:08] #56 closed

[2017-09-21 06:01] ankurbhut commented on #56
@sddamico  Thanks Buddy But still getting problem. Can you please send me the gradle file with added repository and dependency.

[2017-09-21 08:04] ankurbhut commented on #56
Thanks @sddamico I have solved This error. But I got new error When I have run the program. This error message is paste below.
E/MapsPlacesAutoComplete: Unable to fetch autocomplete results from the api
                                                                             com.seatgeek.placesautocomplete.model.PlacesApiException: This IP, site or mobile application is not authorized to use t

[2017-09-21 08:12] ankurbhut opened #57 "I have issue in runtime. I am not getting autoplace data in this."
I got error When I have run the program. This error message is paste below.

E/MapsPlacesAutoComplete: Unable to fetch autocomplete results from the api
com.seatgeek.placesautocomplete.model.PlacesApiException: This IP, site or mobile application is not authorized to use this API key. Request received from IP address 0.00.000.00, with empty referer

[2017-09-21 14:22] sddamico commented on #57
@ankurbhut This does not appear to be an issue with this library, but instead an issue with your API key for Google APIs.

Please be sure you've followed the instractions in step one in the [setup instructions](https://github.com/seatgeek/android-PlacesAutocompleteTextView/blob/master/README.md#basic-setup-and-usage).

[2017-09-21 14:22] #57 closed

[2017-10-20 12:57] lexrrx opened #58 "Google Server API key"
Hello in using a Server key the production app throws this exception: `This IP, site or mobile application is not authorized to use this API key. Request received from IP address` How can I solve this?

[2017-10-24 15:37] sddamico commented on #58
@lexrrx when generating your API key in the Google API's console did you place restrictions on what IP addresses are whitelisted to use that key?

[2017-10-25 08:58] lexrrx commented on #58
No, I did not place any restrictions. Even if I did let's say set restrictions how is that going to work within the context of the app?

[2017-10-25 11:10] AdityaIos opened #59 "not found any get latitude and longitude after select place."
i have required place with latitude and longitude with place, how can i get.

[2017-10-25 11:21] #59 closed

[2017-10-25 14:37] sddamico commented on #58
@lexrrx it would not work and it would show an error message probably similar to the one that you posted, hence why I asked.

Can you please verify that you've followed all the instructions shown here for getting your API key:

https://developers.google.com/places/web-service/get-api-key#if_you_are_using_the_standard_api_name_webservice_places

[2017-10-25 15:59] lexrrx commented on #58
Yes I did follow exactly the procedure and the library works when in a debug mode but when I sign the apk I get the error. To my understanding, this is the expected behavior since I am using the code with an app and not a server. in this case, how do you get this working in a production environment?

[2017-10-25 16:31] sddamico commented on #58
@lexrrx the "server" API key is just a name for the particular type of key that is not directly tied to a mobile package name, there is no restriction on its usage in a mobile app (google has no way of validating where an http request is coming from, be it a mobile device or a server). The "server" API key is the correct one to use in production (and it's the one that our app uses so I can verify

[2017-11-02 10:22] mf-mindcrewtech commented on #56
@ankurbhut how did you solve the error, can you plz let me know

[2017-11-02 10:36] ankurbhut commented on #56
send your error.

[2017-11-03 17:07] Sub-Zero-1 opened #60 "setOnPlaceSelectedListener in Fragment"
Hi!

Is there a way to get the setOnPlaceSelectedListener working in a fragment? I can implement a Button.OnClickListener in a Fragment, but I do not know how to do that with the setOnPlaceSelectedListener.

Thanks.

[2017-11-03 17:11] #60 closed

[2017-11-03 20:59] erikswed commented on #60
In the Fragment xml layout, if you include the PlacesAutocompleteTextView you can reference it from the Fragment `onCreate()` just like i´m sure you did with the `Button`. Then attache the setOnPlaceSelectedListener like:

[code]

[2017-11-17 15:53] #58 closed

[2017-11-21 20:48] lxinghe opened #62 "Question: autocomplete city"
Hey, how should I get city state hint but not address for example, if I type New York it should suggest New York,NY but not any likely address nearby. Thanks !

[2017-11-22 04:18] #62 closed

[2017-11-28 13:33] bewithdhanu opened #63 "Add scroll in results"
Hello,
when searching location there are only two or three results are showing,remaining are kept under keyboard.
If possible, please add scroll in search results in next release.It will more useful
Thanks

[2017-12-08 21:02] sddamico commented on #63
Hey @bewithdhanu thanks for the suggestion! This would require some updates to the layout in the popup dialog that's shown for the autocomplete view. I don't think it'd be overly challenging but might require some nuance to get it sized properly on screen.

I don't think anyone at SeatGeek will be working on updating this functionality any time soon, so if it is something you really want, feel fre

[2017-12-09 05:37] bewithdhanu commented on #63
thank you

[2018-01-10 20:43] anas-ambri commented on #39
@sddamico I am pretty sure that just

`-dontwarn com.squareup.okhttp.**`

should be enough. See [here](https://github.com/square/okhttp/issues/2230) for reference

[2018-01-11 02:09] HimansuB007 opened #65 "Populate results while entering the 1 character"
Currently the results starts populating after the 3 character entered.  How can we populate as soon as user enters the fist character.

setThreshold to 1 also does not work and it starts populating from the second character.

[2018-01-12 12:06] AmrutGhatage opened #66 "How I can get latitude & longitude after place selection ?"
autocomplete.setOnPlaceSelectedListener(
                new OnPlaceSelectedListener() {
                    @Override
                    public void onPlaceSelected(final Place place) {
                        // do something awesome with the selected place

                    }
                }
        );

[2018-01-12 18:25] TestDrive4 opened #67 "Why I only get 5 result in the demo app"
I went through the code and cannot find where this is set.
The drop down for any search result always give max 5 result. I check scroll more but nothing
Please advice?

[2018-01-13 14:11] TestDrive4 commented on #67
ok finally I found the text that explains this at:
https://developers.google.com/places/web-service/autocomplete#place_autocomplete_responses

" The Google Places API Web Service returns up to 5 results."

[2018-01-13 14:11] #67 closed

[2018-01-16 10:45] jatinbsa opened #68 "when i search any place then data show only once a time after that no data come"
So what can i do for this

[2018-01-16 19:04] sddamico commented on #68
@jatinbsa Can you provide logcat output for this case? Not much I can do to help debug without more information unfortunately

[2018-01-16 19:13] sddamico commented on #67
@TestDrive4 I believe that this is a limitation of the ListPopupWindow that's used internally by AutocompleteTextView. There's an open issue to add scrolling to the inner container and show more results here:

https://github.com/seatgeek/android-PlacesAutocompleteTextView/issues/63

[2018-01-16 19:16] sddamico commented on #66
@AmrutGhatage once you have the `Place` object, you'll need to request the place details. Once you have the place details you should be able to access the lat/lon from the data model:

[code]

[2018-01-16 19:16] #66 closed

[2018-01-18 06:07] jatinbsa commented on #68
sir its my fault api key is not right.. thanx sir.

[2018-01-18 14:36] sddamico commented on #68
no problem!

[2018-01-18 14:36] #68 closed

[2018-01-26 14:26] mickychen0524 commented on #28
@sddamico @HolySamosa is this fixed? I am getting same result

[2018-01-27 01:21] mickychen0524 commented on #28
@HolySamosa it works!

[2018-02-10 14:35] erikswed opened #69 "Does it makes sense to cashe the places api results locally"
Especially the `PlaceDetails` retrieved  from interface `PlacesApiJsonParser.detailsFromStream(..)` I was thinking since the data within `PlaceDetails` can be large considering.

Hade an ide to cache `PlaceDetails` since there is a unique `place_id`, somewhat just like history is persisted locally.
Does it makes sense, i mean if the app is all about hammering Google places endpoint for much data.

[2018-02-13 16:35] sddamico commented on #69
This seems like something that applications can do and it might be out of the scope of this library?

[2018-02-13 20:08] #69 closed

[2018-02-27 11:41] ajitbabu opened #71 "Font got Overriden"
I have set custom font for whole app which got overridden on using this dependency.I can feel the impact on font size too.

[2018-03-06 22:43] sddamico commented on #71
@ajitbabu this library does not package any fonts and can be styled using standard android theming properties or by providing a custom adapter implementation as described in the README.

[2018-03-06 22:43] #71 closed

[2018-03-06 22:46] sddamico commented on #65
@HimansuB007 I think the only way to accomplish this would be to subclass the PlacesAutocompleteTextView and always return true from the check threshold method (I'm forgetting the name of it, you'd have to read the Android source for AutocompleteTextView).

I'll just add that a threshold of 1 is generally bad practice for something like searching for a place since the set of possible results is qu

[2018-03-06 22:46] #65 closed

[2018-03-07 06:39] Hanzala717 opened #74 "java.lang.ArrayIndexOutOfBoundsException"
LGE LG K4 (lv1), 1024MB RAM, Android 6.0
Report 1 of 2
java.lang.ArrayIndexOutOfBoundsException:
at java.util.ArrayList.get (ArrayList.java:310)
at android.widget.ArrayAdapter.getItem (ArrayAdapter.java:344)
at com.seatgeek.placesautocomplete.PlacesAutocompleteTextView$2.onItemClick (PlacesAutocompleteTextView.java:162)
at android.widget.AutoCompleteTextView.performCompletion (AutoCompleteTextView

[2018-03-07 10:22] rizedileep opened #75 "how to call this in Andorid Kotlin"
placesAutocomplete.setOnPlaceSelectedListener(
       new OnPlaceSelectedListener() {
           @Override
           public void onPlaceSelected(final Place place) {
              // do something awesome with the selected place
           }
       }
);

[2018-03-18 06:50] ajayqualwebs opened #79 "Make Filter for country specific."
It's an awesome library but I want little modification in it. I want Google place search list will come up with the specific country.
Please help me with this.

[2018-03-19 15:43] sddamico commented on #79
There's an outstanding issue for this feature, please feel free to help out by implementing it if you need it!

https://github.com/seatgeek/android-PlacesAutocompleteTextView/issues/35

[2018-03-19 15:43] #79 closed

[2018-03-20 11:27] #38 closed

[2018-03-22 14:20] ajayqualwebs commented on #35
Thanks For Wonder enhancement in your work, it's also a great feature.

[2018-04-04 16:46] bramhanandareddy87 opened #81 "Could not find method compile()"
Error:(12, 0) Could not find method compile() for arguments [com.seatgeek:placesautocomplete:0.3-SNAPSHOT] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.
<a href="openFile:C:\Users\BramhanandaReddyP\Desktop\android-PlacesAutocompleteTextView-master\android-PlacesAutocompleteTextView-master\build.gradle">Open File</a>

[2018-04-14 20:00] dtonybarajas opened #82 "How I can limit for a specific country?"

[2018-06-21 15:08] Balakumarr7 opened #83 "Getting PlacesApiException"
Unable to fetch autocomplete results from the api
    com.seatgeek.placesautocomplete.model.PlacesApiException: This IP, site or mobile application is not authorized to use this API key. Request received from IP address.

I enabled Places API for android.

[2018-06-21 15:10] MuthuSubramaniam commented on #83
Unable to fetch autocomplete results from the api
com.seatgeek.placesautocomplete.model.PlacesApiException: This IP, site or mobile application is not authorized to use this API key. Request received from IP address.

[2018-06-25 15:25] sddamico commented on #83
When you created your API key with Google, did you whitelist a set of IP addresses that can use it? If so you'll probably want to reconsider that.

[2018-06-25 15:28] MuthuSubramaniam commented on #83
Hi,

Yes it's working when I tried with place autocomolete text. But when I
tried using this library it's not working.

On Mon 25 Jun, 2018, 11:26 PM sddamico, <notifications@github.com> wrote:

[2018-07-05 10:15] arunkush opened #84 "Failed to resolve: com.seatgeek:placesautocomplete:0.3-SNAPSHOT"
Failed to resolve: com.seatgeek:placesautocomplete:0.3-SNAPSHOT
Show in File
Show in Project Structure dialog

i am getting this issue when i compile this

[2018-07-05 21:22] sddamico commented on #84
@arunkush have you added the maven snapshots repository to your build.gradle?

[2018-07-06 04:35] arunkush commented on #84
yes i added

On Fri, Jul 6, 2018 at 2:52 AM sddamico <notifications@github.com> wrote:

--
Best Regards :
Arun Sharma

[2018-07-23 05:30] leenabhandari commented on #84
same problem

[2018-07-26 06:31] duncanmudulo commented on #84
add it to dependencies under allprojects{ } not under buidscript{ }, like this
`allprojects {
    repositories {
        google()
        jcenter()
        maven { url 'https://oss.sonatype.org/content/repositories/snapshots' }
    }
}`

[2018-07-27 08:57] klarycantone opened #86 "PlacesAutocompleteTextwiev"
I'm using placesAutoCompleteTextView, I need to adapt it to just one city. How can I use the filter and where should I insert it? Being able to help me thanks

[2018-07-27 17:55] singhmeenu commented on #39
I ma using this library but after enable proguard my application force close
android.view.InflateException: Binary XML file line #65: Binary XML file line #65: Error inflating class com.seatgeek.placesautocomplete.PlacesAutocompleteTextView
                                                                           at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3319)

[2018-07-30 05:25] singhmeenu opened #87 "After Enable ProGuard Issue"
`  Caused by: android.view.InflateException: Binary XML file line #65: Error inflating class com.seatgeek.placesautocomplete.PlacesAutocompleteTextView
                                                                           at android.view.LayoutInflater.createView(LayoutInflater.java:657)
                                                                           at android.view.LayoutInflater.

[2018-07-30 20:30] patoigz opened #88 "Exception running demo-app"
When run demo-app... Im getting an exception.

[2018-08-07 08:48] vikash159 opened #89 "why its showing addresses only for usa?"

[2018-12-04 03:26] bankzapse opened #90 "hot to know latitude longitude ?"

[2018-12-11 18:30] Anu07 commented on #84
Please update README of your project.

[2018-12-12 19:54] Anu07 commented on #49
I am having trouble to call the same in kotlin. Please help

[2018-12-12 20:18] sddamico commented on #49
@Anu07 accessing the fields on the place details should not be much different in kotlin, can you talk about what problem you're seeing in more depth?

[2018-12-13 02:48] firecatmusic commented on #90
i think issues #66 can answer it

[2018-12-13 14:51] #90 closed

[2019-02-03 13:19] arashifunsho commented on #84
Still can't resolve after adding the above

[2019-02-28 00:26] sddamico commented on #84
Be sure that the snapshots repo is in your module's repositories block, not your build script's repositories or your root build.gradle. Needs to be in the build.gradle for the module that is depending on it.

[2019-02-28 00:26] #84 closed

[2019-03-14 15:22] madcap66 opened #91 "No Lat/Lng for some addresses"
I've added PlacesAutocompleteTextView to an app. It appears to be working corrrectly except certain addresses don't geocode the lat/lng. In a bid to check if it's the coding, I checked another app and the same address returns lat/lng.

I suspect that if a particular part of the address is not present, then it doesn't geocode??? For example, if the address doesn't have an 'suburb' of a 'city' then

[2019-03-18 19:30] sddamico commented on #91
Are you able to proxy the responses from the google places api and see if the information is being returned in the api and it's just not parsing correctly or if the information is just being omitted?

[2019-03-20 14:16] madcap66 commented on #91
Hi and thanks for replying. I'm not quite sure what you mean by 'proxy the responses' but I instead used the new Google Places API and I get the correct lat/lng.

I am inclusing the code I used in case it throws any light on this:

`        mAutocomplete.setOnPlaceSelectedListener(
                new OnPlaceSelectedListener(){
                    @Override
                    public void onPlaceS

[2019-06-22 20:28] peporroncin opened #92 "¿Library updated?"
Hi,

¿Is this library updated to last Google Places SDK?

https://developers.google.com/places/android-sdk/intro

_Deprecation notice: Google Play Services version of the Places SDK for Android
Notice: The Google Play Services version of the Places SDK for Android (in Google Play Services 16.0.0) is deprecated as of January 29, 2019, and will be turned off on July 29, 2019. A new version of the Pl

[2019-06-24 18:13] sddamico commented on #92
This library does not use the google play services places api and instead talks directly to Google's http api's.

[2019-06-24 18:13] #92 closed

[2019-08-13 18:25] donUA commented on #10
Ensure to add both debug and release SHA 1 fingerPrints

[2019-10-06 15:54] vpulpatil commented on #91
Same issue is happening with me as well. In my case, if I am searching specifically for **Ladakh**, place object is returning null.

[2019-10-09 08:23] sharique112 commented on #10
@ravigupta9363 can you please put some light on it, I didn't understood.

[2019-10-09 08:37] donUA commented on #10
In the google cloud API console, there's a section where you can restrict the keys used to a specific platform. In case of android, you are required the application's  debug and release SHA 1 fingerPrints.

[2019-10-09 09:38] sharique112 commented on #10
I already have added that, but still getting same error "exception = {ApiException@16402} "com.google.android.gms.common.api.ApiException: 9011: This IP, site or mobile application is not authorized to use this API key. Request received from IP address 103.123.38.226, with empty referer" "
Getting this error when tried to use PlacesClient. For my api key i have enabled
![image](https://user-images

[2019-10-20 16:11] s202394 opened #93 "How can I restrict search with one country only?"
I want to restrict searching India only. How I can achieve this??

[2019-10-20 20:02] erikswed commented on #93
You can simply include the country code like this, this is some code I used

[code]

[2020-01-23 05:47] ITWhiz4U opened #94 "MapsPlacesAutoComplete: Unable to fetch autocomplete results from the api"
It's not working on my app.

Now I'm getting this error.

MapsPlacesAutoComplete: Unable to fetch autocomplete results from the api
    java.net.SocketTimeoutException: connect timed out

Please check and let me know.
Best regards.

[2020-01-28 00:13] sddamico commented on #94
Hey, @ITWhiz4U, sorry that you're seeing this error. A network timeout however doesn't sound like something that would be caused by this library, can you provide any additional information or logs regarding the issue you're seeing?

[2020-02-23 07:11] vijaygoturi commented on #10
I am getting the below error after adding the selected APIs

flutter: {status: REQUEST_DENIED, errorMessage: You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started}

[2020-03-30 10:53] faisalvv commented on #56
ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.seatgeek:placesautocomplete:0.3-SNAPSHOT.

[2020-04-03 20:17] GathuJames commented on #10
@vijaygoturi
You have to provide you card details on the Google Cloud Console to be allowed to access the service

[2020-04-11 11:48] Manjunathbs412 commented on #93
You just need to add this line : In PlacesApi class
uriBuilder.appendQueryParameter(PARAMETER_COMPONENT, "country:de");

[2020-06-09 21:14] hulisani-mudimeli commented on #93
@Manjunathbs412  The file is read-only

[2020-06-11 08:40] hulisani-mudimeli commented on #93
Is there a solution to this? If not, can someone please tell me if you know of a library with that functionality

[2020-06-22 20:12] rsaxenarishabh opened #95 "Failed to resolve: com.seatgeek:placesautocomplete:0.3-SNAPSHOT"
when i am integrate your library in gradle file then i am getting this error.. so can you suggest me what is issue..
and i am using latest version of android studio

[2020-06-24 21:23] sddamico commented on #95
@rsaxenarishabh can you confirm that you have the sonatype snapshots repository added to your `repositories` block in your build.gradle?

[2020-06-25 08:29] rsaxenarishabh commented on #95
Thanks for your suggestion and now Api is working fine. so please could you tell me how i get location only in india..

[2020-07-19 06:00] CarSanoja commented on #10
Hello @sharique112 , did you solve that issue?

[2020-07-25 19:28] rsaxenarishabh commented on #95
Hii Team,
I am facing one issue that i have created my google api key and set into this library then i have searching  location but result is not found.. could you help me?

Thanks
Rishabh

[2020-09-27 17:08] gsgou commented on #10
Did you get it to work with Places API and an Android-App restricted key (package/SHA1) ?

[2020-10-01 20:49] TaslimOseni commented on #93
Hi @hulisani-mudimeli, did you eventually get a solution to this or did you use an alternative library?

[2020-10-02 15:44] TaslimOseni commented on #93
Hi all,

I created [a PR](https://github.com/seatgeek/android-PlacesAutocompleteTextView/pull/96) to resolve this issue. I hope it gets merged asap.

[2021-05-18 12:08] zakwanibrahim opened #97 "I need to bound my search result to a specific country"
as this repo is not allowing to bound the search results to a specific country like googlePlacesAutoComplete support fragment allows.... is there any  way to do that in this repo?

[2021-05-18 12:10] zakwanibrahim commented on #93
did anyone finds solution to restrict the search to one country?????

[2021-05-18 12:11] zakwanibrahim commented on #93
those classes are read only ... please tell us how to edit those???

[2021-05-27 05:58] dorperez opened #98 "App crash when uploading my app to playstore"
Hello everyone,

I am using this script in my app and when I try to use it after uploading it to play services the app crash.

When I enter the app and choosing the autocompletetextview and try to write something, its crash. In the debug version eveerything is working just fine and I don't know why.

Crash report:

[code]

[2021-05-27 13:43] sddamico commented on #98
@dorperez it sounds like you might be having an issue with proguard/r8 minification of your app. since gson uses reflection to access fields during json parsing, you need to make sure that the field names are not being obfuscated by proguard.

Try adding a rule like this to your proguard configuration:

[code]

[2021-05-27 15:39] erikswed commented on #98
There's actually an "Caused by: java.lang.AssertionError:" in the log, are you doing this in your code :

` throw new AssertionError();`

[2021-06-01 15:41] sddamico commented on #35
Closed by https://github.com/seatgeek/android-PlacesAutocompleteTextView/pull/96

[2021-06-01 15:42] #35 closed

[2021-06-01 15:45] sddamico commented on #97
This issue duplicates #35 which is resoved

[2021-06-01 15:45] #97 closed

[2021-06-01 15:46] sddamico commented on #93
duplicate of #35 which has been resolved

[2021-06-01 15:46] #93 closed

[2021-06-01 15:46] #28 closed

[2021-06-01 15:47] #81 closed

[2021-06-01 15:47] sddamico commented on #82
Duplicate of #35 which has a fix merged

[2021-06-01 15:47] #82 closed

[2021-06-01 15:48] #83 closed

[2021-06-01 15:48] sddamico commented on #86
There is no way to limit the places api to just one city, you can try country filtering which was added for #35

[2021-06-01 15:48] #86 closed

[2021-06-01 15:49] sddamico commented on #87
See #39 for a discussion around proguard rules

[2021-06-01 15:49] #87 closed

[2021-06-01 15:49] #89 closed

[2021-06-01 15:50] #91 closed

[2021-06-01 15:50] #94 closed

[2021-06-01 15:50] #95 closed

[2021-06-01 16:03] sddamico commented on #39
keeping `com.seatgeek.**` is generally overly broad, should narrow it down to:

`-keep class com.seatgeek.placesautocomplete.model.** { *; }` for json mapping

[2021-08-26 00:45] hulisani-mudimeli commented on #35
Im currently using version: implementation 'com.seatgeek:placesautocomplete:0.3-SNAPSHOT'

However, which version contains the new country/city filter capability?